<div class="c-home">
  <div class="c-textblock">
    <h2>Bienvenido a <em>Shopéame</em></h2>
  </div>
  <div class="c-textblock left">
    <h3>¿Qué es <em>Shopéame?</em></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea doloremque magni sequi? Veniam deleniti maiores libero. Quis suscipit incidunt tempora adipisci cum neque rerum
      assumenda illo deserunt? Amet, incidunt facilis.</p>
  </div>
  <div class="c-textblock left">
    <h3>¿Para qué puedo usar <em>Shopéame?</em></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae quam eaque placeat in sit obcaecati fugiat modi vel ad ab adipisci qui dicta error dolores asperiores
      accusantium, ratione ex voluptate.</p>
  </div>
  <div class="c-textblock left">
    <h3>¿Es seguro usar <em>Shopéame?</em></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis adipisci quod unde soluta numquam, at distinctio, quasi itaque fugiat dignissimos, saepe omnis. Ipsa nisi labore
       dicta repudiandae, quasi soluta molestiae?</p>
  </div>
</div>
